
/* ==== main color palette from which the rest of the colors are derived === */

.root {
    -fx-base: #ececec;
    -fx-color: -fx-base;
    -fx-background-light-grey: derive(-fx-color,26.4%);
    -fx-background: -fx-background-light-grey;
    -fx-body-color: derive(-fx-color,-5%);
    -fx-hover-base: ladder(
        -fx-base,
        derive(-fx-base,20%) 20%,
        derive(-fx-base,30%) 35%,
        derive(-fx-base,40%) 50%
     );
}

.root.popup {

}

/* === split panes === */

.split-pane {
    -fx-padding: 0 0 0 0;
}

.split-pane-divider {
    -fx-padding: 0 1 0 1;
}


/* === tab panes === */

.tab-pane > .tab-header-area {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.tab-pane:right > .tab {
    -fx-background-insets: 8, 8 8 8 8, 8;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background: -fx-body-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0 10 0 10;
    -fx-border-width:0px;
}

.tab-pane:right > .tab-header-area > .headers-region > .tab:right {
    -fx-background-color: -fx-body-color;
}

.tab-pane:right > .tab-header-area > .headers-region > .tab:selected:right {
    -fx-background-color: derive(-fx-color,26.4%);
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-font-size: 10px;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background: derive(-fx-color,26.4%);
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: -fx-body-color;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:hover {
    -fx-shape: "M 0 0";
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button {
    -fx-background-color: -fx-body-color;
    -fx-padding: 5 4 9 9;
}

.tab-pane:right > .tab-header-area > .control-buttons-tab > .container > .tab-down-button {
    -fx-padding: 9 9 12 9;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button > .arrow {
    -fx-background-color: -fx-body-color, ladder(
        -fx-color,
        white 30%,
        derive(-fx-color,-63%) 31%
    );
    -fx-pref-height: 2px;
    -fx-pref-width: 10px;
    -fx-shape: "M-2,64a3,3 0 1,0 6,0a3,3 0 1,0 -6,0 M8,64a3,3 0 1,0 6,0a3,3 0 1,0 -6,0 M18,64a3,3 0 1,0 6,0a3,3 0 1,0 -6,0";
}


/* === syntax highlighting === */

.c0 { -fx-fill: #FF0000; }
.c1 { -fx-fill: #E2571E; }
.c2 { -fx-fill: #FF7F00; }
.c3 { -fx-fill: #FFFF00; }
.c4 { -fx-fill: #00FF00; }
.c5 { -fx-fill: #96bf33; }
.c6 { -fx-fill: #0000FF; }
.c7 { -fx-fill: #4B0082; }
.c8 { -fx-fill: #8B00FF; }
