/* general */
html, body
{
    font-style: normal;
    font-family: monospace;
}

#editor {
    white-space: pre-wrap;

    counter-reset: line;

    margin-left: 3.5em;
}

#cursor {
    width: 0;
    height: 1em;
    overflow: visible;
    display: inline-block;
}

#cursor:before {
    width: 1px;
    height: 1em;
    content: "";
    display: inline-block;

    -webkit-animation: blink 1s linear infinite;
}

@-webkit-keyframes blink {
    from { background-color: black; }
    to   { background-color: none; }
}

#numbers {
    float: left;

    width: 3em;

    border-right: 1px solid #ddd;
    position: relative;
}

.new_line {
    width: 0px;
    height: 1em;
    display: inline-block;
}

*:focus {
    outline: none;
}

/* line numbering */
