/* THF styling */
.formula_role {
    color: #FF7C00;
}
.variable {
    color: #04859D;
}
.constant {
    color: #00CC00;
}
.defined_constant {
    color: #269926;
}
.system_constant {
    color: #008500;
}
.type {
    color: #EE0000;
}
.defined_type {
    color: #AA0000;
}
.system_type {
    color: #680000;
}
