
/* ==== main color palette from which the rest of the colors are derived === */

.root {

}

.root.popup {

}

/* === split panes === */

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}


/* === tab panes === */

.tab{
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0 10 0 10;
    -fx-border-width:0px;
}

.tab:hover{

}

.tab:selected{

}

.tab-label {
    -fx-font-size: 12px;
}

/* === syntax highlighting === */

.c0 { -fx-fill: #FF0000; }
.c1 { -fx-fill: #E2571E; }
.c2 { -fx-fill: #FF7F00; }
.c3 { -fx-fill: #FFFF00; }
.c4 { -fx-fill: #00FF00; }
.c5 { -fx-fill: #96bf33; }
.c6 { -fx-fill: #0000FF; }
.c7 { -fx-fill: #4B0082; }
.c8 { -fx-fill: #8B00FF; }
