
/* ==== main color palette from which the rest of the colors are derived === */

.root {
    -fx-base: #ececec;
    -fx-light-base: derive(-fx-color,26.4%);
    -fx-lighter-base: derive(-fx-color,40%);
    -fx-medium-base: derive(-fx-darker-base,50%);
    -fx-slightly-darker-base: derive(-fx-color,-5%);
    -fx-dark-base: derive(-fx-base,-20%);
    -fx-darker-base: derive(-fx-base,-70%);
    -fx-hover-base: ladder(
        -fx-base,
        derive(-fx-base,20%) 20%,
        derive(-fx-base,30%) 35%,
        derive(-fx-base,40%) 50%
     );
    -fx-color: -fx-base;
    -fx-background: -fx-light-base;
    -fx-body-color: -fx-slightly-darker-base;
    -fx-default-button: transparent;
    -fx-selection-bar: derive(-fx-lighter-base,-5%);
}

.root.popup {

}


/* === icons === */

.tabpane-icon {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 100%;
    -fx-fill: -fx-darker-base;
    -fx-rotate: 180;
}

.tabpane-icon:hover {
    -fx-fill: -fx-medium-base;
}

.filebrowser-icon {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 90%;
    -fx-fill: -fx-darker-base;
    -fx-padding: 0em 0.3em 0.5em 0.5em;
}


/* === buttons === */

.button {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 90%;
    -fx-text-fill: -fx-darker-base;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0em 0.3em 0.5em 0.5em;
}

.button:hover {
    -fx-text-fill: -fx-medium-base;
}

/* === menubar === */

.menu-bar {
    -fx-background-color: -fx-lighter-base;
    -fx-background-insets: 0px 80px 0px 0px;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: transparent transparent derive(-fx-color,2%) transparent;
}

.menu-bar > .container > .menu-button:hover {
    -fx-background-color: -fx-selection-bar;
}

.menu-item .label {
    -fx-padding: 0em 2.5em 0em 0em;
}

.menu-item:disabled {
    -fx-opacity: 0.7;
}

.menu-item:disabled .label {
     -fx-padding: 0;
}

.menu-item:disabled:hover {
     -fx-background-color: transparent;
}

.context-menu {
    -fx-background-insets: -1 0 -1 0;
    -fx-padding: 0;
}

.context-menu .accelerator-text {
    -fx-padding: 0 0 0 -9;
}

.label-separator {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -fx-light-base;
    -fx-text-fill: -fx-medium-base;
}


/* === toolbar === */

.tool-bar:horizontal {
    -fx-background-color: -fx-lighter-base;
    -fx-pref-height: 32;
    -fx-padding: 0 0 -7 11;
    -fx-spacing: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0px 0px 1.5px 0px;
    -fx-border-color: transparent transparent -fx-dark-base transparent;
}

.tool-bar:horizontal > .container > .menu-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0em 0.3em 0.5em 0.5em;
}

.tool-bar:horizontal > .container > .menu-button > .label {
    -fx-text-fill: -fx-darker-base;
    -fx-font-size: 90%;
}

.tool-bar:horizontal > .container > .menu-button:hover > .label {
    -fx-text-fill: -fx-medium-base;
}

.tool-bar:horizontal > .container > .menu-button > .arrow-button {
    -fx-padding: 0.6em 0.1em 0.5em -0.3em;
}

.tool-bar:horizontal > .container > .menu-button > .arrow-button > .arrow {
    -fx-background-color: -fx-body-color, ladder(
        -fx-color,
        white 30%,
        derive(-fx-color,-63%) 31%
    );
    -fx-pref-width: 5px;
    -fx-shape: "M14.77,23.795L5.185,14.21c-0.879-0.879-0.879-2.317,0-3.195l0.8-0.801c0.877-0.878,2.316-0.878,3.194,0  l7.315,7.315l7.316-7.315c0.878-0.878,2.317-0.878,3.194,0l0.8,0.801c0.879,0.878,0.879,2.316,0,3.195l-9.587,9.585  c-0.471,0.472-1.104,0.682-1.723,0.647C15.875,24.477,15.243,24.267,14.77,23.795z";
}

.tool-bar:horizontal > .container > .menu-button > .arrow-button > .arrow:hover {
    -fx-background-color: -fx-body-color, -fx-medium-base;
}


/* === scrollbar === */

.scroll-bar {
    -fx-background-color:transparent;
}

.increment-button,
.decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-bar .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.scroll-bar .thumb {
    -fx-background-color: derive(-fx-medium-base,50%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.scroll-bar:hover .track,
.scroll-bar:pressed .track {
    -fx-background-color: white;
    -fx-opacity: 0.2;
    -fx-background-radius: 0em;
}

.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed {
    -fx-background-color: -fx-medium-base;
}


/* === split panes === */

.split-pane {
    -fx-padding: 0;
}

.split-pane-divider {
    -fx-padding: 0 1 0 1;
}


/* === tab panes === */

.tab-pane {
    -fx-background-color: white;
    -fx-min-height: 200;
}

.tab-pane:top > .tab-header-area {
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;
}

.tab-pane:left > .tab-header-area {
    -fx-background-insets: 0;
    -fx-padding: -20 0 0 0;
}

.tab-pane:right > .tab {
    -fx-background-insets: 8, 8 8 8 8, 8;
}

.tab-collapse:hover {
    -fx-background-color: transparent;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background: -fx-body-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0 10 0 10;
    -fx-border-width: 0px;
}

.tab-pane:top > .tab-header-area > .headers-region > .tab {
    -fx-background-color: derive(-fx-light-base,-2%);
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: white;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-font-size: 80%;
}

.tab-pane:top > .tab-header-area > .tab-header-background {
    -fx-background-color: derive(-fx-light-base,-2%);
}

.tab-pane:left > .tab-header-area > .tab-header-background {
    -fx-background-color: -fx-body-color;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:hover {
    -fx-shape: "M 0 0";
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button {
    -fx-background-color: -fx-body-color;
    -fx-padding: 5 4 9 9;
}

.tab-pane:right > .tab-header-area > .control-buttons-tab > .container > .tab-down-button {
    -fx-padding: 9 9 12 9;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button > .arrow {
    -fx-background-color: -fx-body-color, ladder(
        -fx-color,
        white 30%,
        derive(-fx-color,-63%) 31%
    );
    -fx-pref-height: 2px;
    -fx-pref-width: 10px;
    -fx-shape: "M-2,64a3,3 0 1,0 6,0a3,3 0 1,0 -6,0 M8,64a3,3 0 1,0 6,0a3,3 0 1,0 -6,0 M18,64a3,3 0 1,0 6,0a3,3 0 1,0 -6,0";
}


/* === tree view === */

.tree-view {
    -fx-font-size: 90%;
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1;
    -fx-padding: 1 1 1 1;
}

.tree-cell > .tree-disclosure-node {
    -fx-padding: 4 6 4 8;
}

.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-body-color, ladder(
        -fx-color,
        white 30%,
        derive(-fx-color,-63%) 31%
    );
    -fx-scale-y: 0.4;
    -fx-shape: "M14.77,23.795L5.185,14.21c-0.879-0.879-0.879-2.317,0-3.195l0.8-0.801c0.877-0.878,2.316-0.878,3.194,0  l7.315,7.315l7.316-7.315c0.878-0.878,2.317-0.878,3.194,0l0.8,0.801c0.879,0.878,0.879,2.316,0,3.195l-9.587,9.585  c-0.471,0.472-1.104,0.682-1.723,0.647C15.875,24.477,15.243,24.267,14.77,23.795z";
}

.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-rotate: -90;
}

.tree-cell:hover {
    -fx-background-color: -fx-lighter-base;
}

.tree-cell:selected{
    -fx-background-color: -fx-light-base;
}


/* === syntax highlighting === */

.c0 { -fx-fill: #FF0000; }
.c1 { -fx-fill: #E2571E; }
.c2 { -fx-fill: #FF7F00; }
.c3 { -fx-fill: #FFFF00; }
.c4 { -fx-fill: #00FF00; }
.c5 { -fx-fill: #96bf33; }
.c6 { -fx-fill: #0000FF; }
.c7 { -fx-fill: #4B0082; }
.c8 { -fx-fill: #8B00FF; }

.lineno {
    -fx-background-color: -fx-lighter-base;
    -fx-padding: 0 6 0 6;
}

.lineno .text {
    -fx-font-style: normal;
    -fx-font-size: smaller;
    -fx-font-family: monospace;
}
